@import '../../import.scss';

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  font-weight: 600;
}

input[type='text'] {
  border: 0;
  outline: none;
  padding: 10px 20px;
  background-color: $background-color;
}

.todo-list, .todo-form, .todo-form > input {
  width: 100%;
}

.todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  background-color: #dedede;
  border: 0px;
  border-radius: 40%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btn-add:hover, .btn-add.ready {
  background-color: $success-color;
}

.btn-remove:hover {
  background-color: $error-color;
}

.svg-inline--fa {
  width: 10px;
  color: $font-alt-color;
}

.todo-row {
  margin-bottom: 20px;
  display: flex;
  position: relative;

  .action-bar {
    display: none;
    position: absolute;
    right: 0px;
  }

  button {
    display: inline-block;
    margin-right: 20px;
  }

  button:last-of-type {
    margin-right: 0px;
  }
}

.todo-row:hover {
  .action-bar {
    display: block;
  }
}

.todo-row.isComplete-true {
  label {
    text-decoration: line-through;
    color: #dedede;
  }
}