@import '../../import.scss';


.app-nav {
  margin: 0px 20px;
  // border-bottom: 2px solid #dedede;
  display: flex;
  justify-content: space-between;

  a {
    display: inline-block;
    padding: 20px 10px;
    margin-right: 25px;
  }

  li {
    display: inline-block;
  }

  .svg-inline--fa {
    font-size: 28px;
  }

  .routes .active {
    border-top: 2px solid $primary-color;
    
    .svg-inline--fa {
      color: $primary-color;
    }
  }

  .filters {
    a {
      font-size: 16px;
    }

    .active {
      border-bottom: 2px solid $primary-color;

    }
  }
}

.todo-list, .todo-form, .todo-form > input {
  width: 100%;
}

.todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;

  input[type='text'] {
    border: 0;
    outline: none;
    padding: 10px 17px;
    background-color: $background-color;
  }
}

.todo-row {
  margin-bottom: 20px;
  display: flex;
  position: relative;

  button {
    display: inline-block;
    margin-right: 15px;
  }

  button:last-of-type {
    margin-right: 0px;
  }

  label {
    padding-right: 25px;
  }

  .action-bar {
    display: flex;
  }
}

.todo-row.isComplete-true {
  span {
    text-decoration: line-through;
    color: #dedede;
  }
}