@import './import.scss';

html, body, div, p, label, input {
  background-color: $background-color;
  color: $font-color;
  font-family: Lato;
  font-size: 16px;
}

.app-header {
  min-height: 45px;
  padding: 50px 30px 15px 30px;
  
  h1 {
    margin: 0;
    font-weight: 600;
    font-size: 28px;
  }
}

.app {
  max-width: 768px;
  margin: 0 auto;
}

.app-content {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
}

.error {
  margin-left: 43px;
  font-size: 12px;
  color: $error-color;
}
